#building { /* <div id="building"> */
    display: flex;
    flex-wrap: wrap; /* 當元素超過總寬度時允許換行顯示 */
    position: relative;
}

.floor { /* <div id="building"> 內所有的 <div>*/
    width: calc(50% - 20px); /* 使每個子div佔據一行的50%寬度 */
    box-sizing: border-box; /* 避免寬度超出，包括padding和border在內 */
    border: 1px solid #ccc; /* 可選：添加邊框以區分不同樓層 */
    margin: 10px;
    position: relative;
}

.avatar {
    position: absolute;
}

.exerciseInfoBox {
    padding-left: 40%;
}

.pathGrid {
    position: absolute;
    fill: aqua;
}

.dot {
    height: 4px;
    width: 4px;
    background-color: rgb(120, 120, 120);
    border-radius: 50%;
    position: absolute;
}